#Ignore everything
*

#Include specific top-level files
!.gitignore
!Gruntfile.js
!package.json
!README.md
!*.html

#Include engine source
!src/
!src/**

#Include demo project
!projects/
projects/*
!projects/demo/
!projects/demo/**
