<!DOCTYPE HTML>
<html>
	<head>
		<script src="node_modules/vue/dist/vue.js"></script>
		<script src="src/libs/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="src/editor/level/style.css">
	</head>
	<body>
	<div id="app">
		<div id="navmenu">
			<ul>
				<li><a href="javascript:createLevel();">New Level</a></li>
				<li><a href="javascript:clickFileChooser();">Load Level</a>
					<input id="fileChooser" type="file" style="display:none">
				</li>
				<li><a href="javascript:downloadFile();" title="After downloading the level, relocate it to use it in the engine.">Download File (Save)</a>
				</li>
				<li><a href="javascript:showEditorLevel();">Edit Settings</a></li>
			</ul>
		</div>
		<div id="editorTools">
			<div id="layers" v-bind:style="{ width: levelWidth + 'px', height: levelHeight + 'px' }">
				<rendered-layer
						v-for="(layer, layerIndex) in level.layers"
						v-bind:key="layerIndex"
						v-bind:level="level"
						v-bind:layer="layer"
						v-bind:index="layerIndex"
						v-bind:width="levelWidth"
						v-bind:height="levelHeight"
						v-bind:is-active="layerIndex === activeLayer"
				></rendered-layer>
			</div>

			<div class="menu" style="left:0px;width:100px">
				Tools:
				<div class="option"
					 v-on:click="selectModeOption('position')"
					 title="Positions are handles for locations that Actors may occupy or paths may lead to and from.&#013;&#013;NPCs are generally people or things that have dynamic properties.&#013;NPCs are loaded at game start and transcend the board (i.e. they are not in any way actually tied to the board and may be moved to other boards).
					&#013;Right-click to create new.&#013;Left-click to drag.&#013;Shift+left-click to clone.&#013;Double-click to open properties."
					>Position</div>
				<div class="option"
					 v-on:click="selectModeOption('prop')"
					 title="Props are loaded on level entrance and are destroyed on level exit. They are used in few processes, and slow down performance less than NPCs&#013;Props are generally static (or animated) graphical elements Bodys can walk behind or in front of.
					&#013;Right-click to create new.&#013;Left-click to drag.&#013;Shift+left-click to clone&#013;Double-click to open properties."
					>Prop</div>
				<br>
				Active Layer:
				<select id="activeLayer" v-model="activeLayer">
					<option v-for="(layer, index) in level.layers" v-bind:value="index">Layer {{ index }}</option>
				</select>
				<br><br>
				<div id="traceOptions" title="Traces define Bodys' (actually just NPCs and players) interaction with the level.&#013;Solid traces represent completely inpenetrable areas.&#013;Void traces are used for areas of open air where walking is disabled, but things (e.g. arrows, jumping people) may fly through.&#013;Function traces indicate areas of the level which will trigger a function call when a body moves into the area.&#013;Paths link positions together for walking purposes.&#013;Stairs move Bodys to different layers.
				&#013;Right-click to create new.&#013;Left-click to add points to started trace.&#013;Right-click to close trace (and fill in), or shift+right-click to end trace without filling in.&#013;Left-click to drag.&#013;Shift+left-click to clone.&#013;Double-click to open properties.">
					<h4>Traces</h4>
					<div v-for="(color, type) in traceOptions"
						 v-if="type !== 'highlight'"
						 class="option"
						 v-bind:style="{ color: 'white', backgroundColor: color }"
						 v-on:click="selectTraceOption(type)"
					>
						{{ type }}
					</div>
				</div>
			</div>
			<div id="layerMenuVue" class="menu" style="right:0px;">
				<ul>
					<menu-layer
							v-for="(layer, index) in level.layers"
							v-bind:key="index"
							v-bind:level="level"
							v-bind:layer="layer"
							v-bind:index="index"
					></menu-layer>
				</ul>
				<div class="option" v-on:click.left="createLayer">Add Layer</div>
			</div>

		</div>

		<canvas id="subImg" width="256" height="256" style="display:none"></canvas>
		<canvas id="subImg2" width="320" height="320" style="display:none"></canvas>
	</div>

	<div id="XMLEditorBack" class="backdrop">
		<div id="XMLEditor">
			<div id="XMLEditorFields"></div>
			<button id="saveChanges" style="right:0;">Save Changes</button>
			<button id="deleteThing">Delete This</button>
		</div>
	</div>

	<script type="text/x-template" id="menu-layer-template">
		<li>
			<strong v-on:click="edit" class="pointer">
				<span v-show="!layer.id">Layer {{ index }}</span>
				<span v-show="layer.id">{{layer.id}}</span>
			</strong>
			<input type="checkbox" v-model="layer.displayed"/>
			<div v-show="layer.traces.length > 0">
			<div>
				Traces
				<input type="checkbox"
					   v-bind:checked="allTracesDisplayed"
					   v-on:click.left="toggleAllTracesDisplayed"
				/>
			</div>
			<ul>
				<li v-for="(trace, traceIndex) in layer.traces"
					v-on:mouseenter="trace.isHighlighted = true"
					v-on:mouseleave="trace.isHighlighted = false"
					style="list-style-type: circle"
				>
					<span v-on:click.left="editTrace(trace)" class="pointer">
						<span v-show="!trace.id">Trace {{ traceIndex }}</span>
						<span v-show="trace.id">{{trace.id}}</span>
					</span>
					<input type="checkbox" v-model="trace.displayed"/>
				</li>
			</ul>
			</div>
			<div v-show="props.length > 0">
			<div>
				Props
				<input type="checkbox"
					   v-bind:checked="allPropsDisplayed"
					   v-on:click.left="toggleAllPropsDisplayed"
				/>
			</div>
			<ul>
				<li v-for="(prop, index) in props"
					v-on:mouseenter="prop.isHighlighted = true"
					v-on:mouseleave="prop.isHighlighted = false"
					style="list-style-type: square"
				>
					<span v-on:click.left="editProp(prop)" class="pointer">
						<span v-show="!prop.id">Prop {{ index }}</span>
						<span v-show="prop.id">{{prop.id}}</span>
					</span>
					<input type="checkbox" v-model="prop.displayed"/>
				</li>
			</ul>
			</div>
			<div v-show="positions.length > 0">
			<div>
				Positions
				<input type="checkbox"
					   v-bind:checked="allPositionsDisplayed"
					   v-on:click.left="toggleAllPositionsDisplayed"
				/>
			</div>
			<ul>
				<li v-for="(position, index) in positions"
					v-on:mouseenter="position.isHighlighted = true"
					v-on:mouseleave="position.isHighlighted = false"
					style="list-style-type: disc"
				>
					<span v-on:click.left="editPosition(position)" class="pointer">
						<span v-show="!position.id">Position {{ index }}</span>
						<span v-show="position.id">{{position.id}}</span>
					</span>
					<input type="checkbox" v-model="position.displayed"/>
				</li>
			</ul>
			</div>
		</li>
	</script>

	<script type="text/x-template" id="rendered-layer-template">
		<div v-show="layer.displayed" v-bind:style="styleObject">
			<img v-if="!!imgSrc" class="background" v-bind:src="imgSrc"/>
			<svg
					style="position:absolute"
					v-bind:width="width"
					v-bind:height="height"
			>
				<!--<defs>-->
					<!--<linearGradient-->
							<!--v-for="(trace, traceIndex) in layer.traces"-->
							<!--v-bind:id="'stairGradient' + traceIndex"-->
							<!--v-bind:x1="stairsGradient.x1" v-bind:y1="stairsGradient.y1"-->
							<!--v-bind:x2="stairsGradient.x2" v-bind:y2="stairsGradient.y2"-->
					<!--&gt;-->
						<!--<stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:0" />-->
						<!--<stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />-->
					<!--</linearGradient>-->
				<!--</defs>-->
				<rendered-trace v-for="(trace, traceIndex) in layer.traces"
								v-bind:trace="trace"
								v-bind:index="traceIndex"
								v-bind:layerZ="layer.z"
								v-bind:layerHeight="layerHeight"
				></rendered-trace>
			</svg>
			<rendered-prop v-for="(prop, propIndex) in props"
						   v-bind:prop="prop"
			></rendered-prop>
			<rendered-position v-for="(position, posIndex) in positions"
							   v-bind:position="position"
			></rendered-position>
		</div>
	</script>

	<script type="text/x-template" id="rendered-trace-template">
		<g>
			<polyline
					v-show="trace.displayed"
					v-on:dblclick="edit"
					v-on:mousedown.left="track"
					v-on:mouseenter="toggleHighlight(true)"
					v-on:mouseleave="toggleHighlight(false)"
					v-bind:points="points"
					v-bind:fill="traceFill"
					v-bind:stroke="traceStroke"
					v-bind:fill-opacity="traceOpacity"
			></polyline>
			<polyline
					v-show="trace.displayed"
					v-bind:points="pointsShadow"
					v-bind:fill="traceShadowFill"
					v-bind:stroke="traceShadowStroke"
					v-if="traceShadowDisplayed"
					style="pointer-events: none;"
			></polyline>
		</g>
	</script>

	<script type="text/x-template" id="rendered-prop-template">
		<div
				v-show="prop.displayed"
				class="draggable prop"
				v-on:dblclick="edit"
				v-on:mousedown.left="track"
				v-on:mouseenter="toggleHighlight(true)"
				v-on:mouseleave="toggleHighlight(false)"
				v-bind:style="styleObject"
		>
			<img v-bind:src="imgSrc" v-bind:style="{ position: 'absolute', left: cropLeft + 'px', top: cropTop + 'px' }"/>
		</div>
	</script>

	<script type="text/x-template" id="rendered-position-template">
		<div
				v-show="position.displayed"
				class="draggable position"
				v-on:dblclick="edit"
				v-on:mousedown.left="track"
				v-on:mouseenter="toggleHighlight(true)"
				v-on:mouseleave="toggleHighlight(false)"
				v-bind:style="styleObject"
		>
			<img v-bind:src="imgSrc" v-bind:style="{ position: 'absolute', left: cropLeft + 'px', top: cropTop + 'px' }"/>
		</div>
	</script>

	<script src="src/editor/level/eventHandlers.js"></script>
		<script src="src/editor/level/form.js"></script>
		<script src="src/editor/level/editorFunctions.js"></script>
		<!--<script src="src/editor/level/vueSetup.js"></script>-->
	</body>
</html>
