<!DOCTYPE HTML>
<html>

<head>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="build/engine-test.js"></script>

    <link href="node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <style>
        .list {
            padding-left: 16px;
        }

        .clicky {
            cursor: pointer;
        }

        .error-box {
            background-color: rgba(200,50,50,.5);
            display: inline-block;
        }
    </style>
</head>

<body>
    <!-- item template -->
    <script type="text/x-template" id="item-template">
    <div class="list-item">
        <div>
            <span
                class="clicky"
                @click="toggle"
                v-if="isExpandable">
                <i v-if="!isExpanded" class="fas fa-fw fa-chevron-right"></i>
                <i v-if="isExpanded" class="fas fa-fw fa-chevron-down"></i>
            </span>
            <span title="Success" v-if="!isExpandable"><i class="fas fa-fw fa-flask"></i></span>
            <span title="Success" v-if="isSuccess"><i style="color:green" class="fas fa-fw fa-check"></i></span>
            <span title="Failure" v-if="isFail"><i style="color:red" class="fas fa-fw fa-times"></i></span>
            <span title="Running" v-if="isRunning"><i class="fas fa-fw fa-spinner fa-spin"></i></span>
            <span title="Not Run" v-if="isNone"><i style="color:rgba(150,150,150,.3)" class="fas fa-fw fa-dot-circle"></i></span>
            <span>{{ item.description }}</span>
            <span title="Run" class="clicky" @click="run" v-if="isRunnable"><i class="fas fa-play"></i></span>
            <span title="Kill" class="clicky" @click="kill" v-if="isKillable"><i class="fas fa-stop"></i></span>
        </div>
        <div class="list" v-show="isExpanded" v-if="isGroup">
            <tree-item
            class="item"
            v-for="(child, index) in item.children"
            :key="index"
            :item="child"
            ></tree-item>
        </div>
        <div v-show="isExpanded" v-if="hasError">
            <pre class="error-box">{{ item.message }}</pre>
        </div>
    </div>
    </script>

    <!-- the explorer root element -->
    <div id="explorer">
        <tree-item
            class="item"
            v-for="(child, index) in treeData"
            :key="index"
            :item="child"
        ></tree-item>
    </div>

    <script>
        // explorer data
        var treeData = splitTime.test.getTree().topLevelNodes
        var TestStatus = splitTime.testRunner.TestStatus
        var nextWorkerId = 1;

        // define the tree-item component
        Vue.component('tree-item', {
            template: '#item-template',
            props: {
                item: Object
            },
            data: function () {
                return {
                    isExpanded: false,
                    runner: undefined
                }
            },
            computed: {
                isExpandable: function() {
                    return this.isGroup || this.hasError
                },
                isGroup: function () {
                    return this.item.children &&
                        this.item.children.length
                },
                hasError: function() {
                    return !!this.item.message
                },
                isRunnable: function() {
                    return this.item.getStatus() !== splitTime.testRunner.TestStatus.RUNNING
                },
                isKillable: function() {
                    return !!this.runner
                },
                isSuccess: function() {
                    return this.item.getStatus() === TestStatus.SUCCESS
                },
                isFail: function() {
                    return this.item.getStatus() === TestStatus.FAIL
                },
                isRunning: function() {
                    return this.item.getStatus() === TestStatus.RUNNING
                },
                isNone: function() {
                    return this.item.getStatus() === TestStatus.NONE
                },
            },
            methods: {
                toggle: function () {
                    if (this.isExpandable) {
                        this.isExpanded = !this.isExpanded
                    }
                },
                run: function() {
                    var runner = new splitTime.testRunner.WorkerTestRunner(nextWorkerId++, "build/engine-test.js", this.item)
                    this.runner = runner
                    var that = this
                    runner.launch().then(function() {
                        runner.kill()
                        that.runner = undefined
                    })
                },
                kill: function() {
                    if(this.runner) {
                        this.runner.kill()
                    }
                }
            }
        })

        // boot up the explorer
        var explorer = new Vue({
            el: '#explorer',
            data: {
                treeData: treeData
            }
        })
    </script>
</body>

</html>